<div class="products-section container-fluid">
    <form action="/products/search" method="GET" class="search-bar mb-4 mt-4">
        <input type="text" name="q" class="form-control search-input" placeholder="Tìm sản phẩm..." value="{{q}}">
        <button type="submit" class="btn-search">
            <i class="bi bi-search"></i>
        </button>
    </form>

    <!-- Dropdown sắp xếp -->
    <form method="GET" action="/products">
        {{#if q}}
            <input type="hidden" name="q" value="{{q}}">
        {{/if}}
        <select name="sort" class="form-select w-auto" onchange="this.form.submit()">
            <option value="newest" {{#if (eq sort "newest")}}selected{{/if}}>Mới nhất</option>
            <option value="oldest" {{#if (eq sort "oldest")}}selected{{/if}}>Cũ nhất</option>
            <option value="price_asc" {{#if (eq sort "price_asc")}}selected{{/if}}>Giá tăng dần</option>
            <option value="price_desc" {{#if (eq sort "price_desc")}}selected{{/if}}>Giá giảm dần</option>
        </select>
    </form>

    <div class="row row-products">
        {{#each products}}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card card-item"> 
                <a href="/products/{{this.id}}" class="card-img-link">
                    <img class="card-img-top" src="{{this.img}}" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/products/{{this.id}}">
                        <h3 class="card-title">{{this.name}}</h3>
                    </a>
                    <p class="card-price">{{formatPrice this.price}}</p>
                    <div class="btn-container">
                        <!-- Mua ngay -->
                        <form action="/payment/buy-now" method="POST">
                            <input type="hidden" name="productId" value="{{this.id}}">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" class="btn btn-dark btn-buy-item">Mua ngay</button>
                        </form>

                        <!-- Thêm vào giỏ -->
                        <form action="/carts/add/{{this.id}}" method="POST">
                            <button type="submit" class="btn btn-dark btn-add-card">Thêm vào giỏ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- PHÂN TRANG -->
    {{#if totalPages}}
    <div class="mt-5">
        <div class="col-12 col-lg-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!-- Trang trước -->
                    {{#if (gt currentPage 1)}}
                    <li class="page-item">
                        <a class="page-link" 
                        href="/products{{#if category}}/{{category}}{{/if}}?page={{sub currentPage 1}}&sort={{../sort}}{{#if ../q}}&q={{../q}}{{/if}}">
                            Trước
                        </a>
                    </li>
                    {{/if}}

                    <!-- Các trang -->
                    {{#each (range 1 totalPages)}}
                    <li class="page-item {{#if (eq ../currentPage this)}}active{{/if}}">
                        <a class="page-link" 
                        href="/products{{#if ../category}}/{{../category}}{{/if}}?page={{this}}&sort={{../sort}}{{#if ../q}}&q={{../q}}{{/if}}">
                            {{this}}
                        </a>
                    </li>
                    {{/each}}

                    <!-- Trang sau -->
                    {{#if (lt currentPage totalPages)}}
                    <li class="page-item">
                        <a class="page-link" 
                        href="/products{{#if category}}/{{category}}{{/if}}?page={{add currentPage 1}}&sort={{../sort}}{{#if ../q}}&q={{../q}}{{/if}}">
                            Sau
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
    {{/if}}
</div>
